{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


        <table>
        <tr>
            
            <td>Quantity</td>
            <td>Description</td>
            <td>Price</td>
            <td>Subtotal</td>
            <td>added</td>
            <td>cart</td>

        </tr>
        {% for item in object_list %}
            <tr>
                <td> {{item.quantity}} </td>
                <td> {{item.description}} </td>
                <td> {{item.price}} </td>      
                <td> {{item.subtotal}} </td>   
                <td> {{item.added}} </td>
                <td> {{item.cart}} </td>
                
            </tr>
        {% endfor %}
        <tr>
            <td>  </td>
            <td>  </td>
            <td> TOTAL </td>      
            <td> {{object.cart.total}} </td>     
        </tr>

        </table>

</body>
</html>
